@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {

    /*old color*/
    /*--main-background: #8a8f93;*/
    /*--main-background: #5B5B5B;*/
    /*--main-background: #A09A95;*/
    /*--main-background: #3D3D3D;*/
    --main-background: #242021;
    /*old color*/
    /*--main-background-light: #c8d1da;*/
    /*--main-background-light: #898989;*/
    /*--main-background-light: #D0C7C0;*/
    /*--main-background-light: #B8B1AB;*/
    /*--main-background-light: var(--text-on-dark-background);*/
    --main-background-light: #625D5B;
    --top-navigation-items-color: #5B5B5B;
    --top-navigation-background-color: rgba(255, 255, 255, 0.8);
    --button-background-color: #54888C;
    --heading45: 45px;
    /*TEXT COLORS*/
    --text-on-dark-background: #6F6C69;
    --light-txt: #ffffff;
    --text-on-light-background: #242021;

}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /*color: #f4f8ea;*/

}


.hero {
    position: relative;

    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
    animation: change 10s infinite none;
    transition: background 0.5s linear;
}


@keyframes change {
    0%, 54% {
        background-image: url("../images/portf/main_croppped1.png");
    }
    55%, 99% {
        background-image: url("../images/portf/111.png");
    }

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


.section-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;

}

.header__logo {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-txt);
    list-style: none;
}

.nav-list__item:not(:last-child) {
    margin-right: 36px;
}

.link__item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--top-navigation-items-color);
    text-decoration: none;
    transition: 0.7s;
}

.link__item_footer{
    text-decoration: none;
    color: var(--text-on-dark-background);
    font-weight: 500;
    padding: 5px 0px;
}
/*.link__item:hover,*/
/*.link__item:active {*/
/*    color: wheat;*/
/*}*/

/*WELCOME SECTION*/
.header {
    background-color: var(--top-navigation-background-color);
}

.logo img {
    width: 205px;
}

.welcome {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    /*grid-column-gap: 0px;*/
    /*grid-row-gap: 0px;*/
    justify-content: space-between;
    height: 80vh;
}

.animation_container {

}


.welcome__promo_about {
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: var(--heading45);
    color: var(--light-txt);
}

.welcome__promo_phrase {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--light-txt);
}

.ml11 {
    font-weight: 300;
    font-size: 45px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--light-txt);
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
    color: var(--light-txt);
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.welcome__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links__item {
    font-size: 20px;
    font-weight: 400;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--light-txt);
}

.welcome__picture {
    align-self: start;
}

.welcome__picture_img {
    padding: 10px;
    width: 150px;
    height: 150px;
}

/*HEADINGS*/
.preimushestva_zagolovok {
    color: #768D87;
}

.preimushestva_text {
    color: var(--text-on-dark-background);
    font-weight: 500;
}


/*BUTTON*/
.myButton {
    margin-top: 15px;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    /*background-color:#768d87;*/
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 21px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.myButton:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    /*background-color:#6c7c7c;*/
}

.myButton:active {
    position: relative;
    top: 1px;
}

/*.myButton {*/
/*    box-shadow: 0 0 0 0 #0e0f0e;*/
/*    background-color: var(--button-background-color);*/
/*    border: 1px solid var(--button-background-color);*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    color:var(--light-txt);*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 21px;*/
/*    !*font-weight: bold;*!*/
/*    padding: 16px 31px;*/
/*    text-decoration: none;*/
/*    text-shadow: 0 1px 0 #54888C;*/
/*    margin: 10px;*/
/*}*/

/*!*TODO  color of hover*!*/
/*.myButton:hover {*/
/*    background-color: #afb5b8;*/
/*}*/

/*.myButton:active {*/
/*    position: relative;*/
/*    top: 1px;*/
/*}*/


/*ABOUT*/

.about, .projects {
    background-color: var(--main-background);
}

.projects_commercial {
    padding-top: 45px;
    background-color: var(--main-background-light);
}


.section-heading {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-left: 20px;
    color: var(--text-on-light-background);
}

.section-heading_preim {
    color: #768D87;
}

.about-items {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 43vh;*/
}

.about-item {
    /*padding: 0 40px;*/
    display: flex;
    flex-direction: column;
    width: 25%;
}

.about-item h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 35px;
}

.about-item div {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/*PROJECTS*/
.project-hading {
    text-align: center;
    font-size: var(--heading45);
    font-family: 'Roboto', sans-serif;
    /*padding-top: 15px;*/
    margin-bottom: 20px;
    color: #768D87;
}

.commercial_project-hading {
    padding-top: 20px;
    color: var(--text-on-light-background);
}

/*.images__portf {*/
/*    display: flex;*/
/*    height: 450px;*/
/*    justify-content: space-around;*/
/*}*/

.protf__item {
    width: 300px;
}

/*PRICE*/
.price {
    background-color: var(--main-background-light);
padding-bottom: 25px;
}

/*.prices {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    !*min-height: 50vh;*!*/
/*}*/

.price__items {
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

.price_h{
    align-self: center;
}

.tarif {
    flex-basis: 22%;
    text-align: center;

}

.tarif_with_border {
    border-radius: 50px;
    transition: 0.3s;
}

/*.tarif_with_border:hover {*/
/*    transform: scale(1.05);*/
/*}*/


.tarif_features_list {
    /*padding: 25px;*/
    color: var(--text-on-light-background);
    font-weight: 500;
    text-align: left ;
    min-height: 22vh;

}

.tarif_features_item {
    /*list-style-type: none;*/
    padding-left: 10px;
    line-height: 1.2;

}

.tarif_features_item li{
    margin-top: 6px;
}

.tarif_name {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


.list-item {
    word-break: break-word
}

.actual_price {
    color: var(--main-background);
    font-weight: bold;
    font-size: 25px;
}



.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*TODO color of lines*/

hr {
    /*color: var(--text-on-light-background);*/
    /*background-color: var(--text-on-light-background);*/
    /*border: solid 1px var(--text-on-light-background);*/
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, var(--main-background-light),var(--text-on-light-background), var(--main-background-light));
}

.button__price {

}

/*ABOUT STUDIO*/

.about_studio {
    background-color: var(--main-background-light);
    padding: 55px 0;
}

.about_studio-items {
    display: flex;
    align-items: center;
}

.about_subitem {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.about_number {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: var(--text-on-light-background);
}

.about_subitem_text {
    font-family: 'Roboto', sans-serif;
    /*padding: 10px;*/
    color: var(--text-on-light-background);
    font-weight: 500;
    text-indent: 15px;
    line-height: 1.2;
    hyphens: auto;
    text-align: justify;
}

.text_under_number {
    color: var(--text-on-light-background);
    font-weight: 500;
}


/*FOOTER*/
.contacts {
    background-color: var(--main-background);
}

.footer_section_item .footer_text, .footer_text {
    color: var(--text-on-dark-background);
    font-weight: 500;
    padding: 5px 0px;
}

.footer_data {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center

}

.footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center

}

.footer_section_item {
    padding: 20px;
}

.links {
    padding: 15px;
}

.links__item {
    margin-right: 10px;
    text-decoration: none;
    color: var(--light-txt);
}

.allrights {
    padding-left: 20px;
}


/*SLIDER*/

/* Слайдер */
.slick-slider {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin: 0 -27px;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    /*align-items: center;*/
    /*padding: 35px 0;*/
    padding-bottom: 25px;
}

/* Слайд */
.slick-slide {
    margin: 0 37px;
    position: relative;
}

/*слайд отзывы*/
.testimonials__item .slick-slide {
    margin: 0 100px;
    position: relative;
}

.slick-slide:hover {

}

.slick-slide img {
    object-fit: cover;
    width: 100%;
}

.slick-slide img:hover {

}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {

    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: -20px;
    background: url("../images/arrow-left.svg") 0 0 / 100% no-repeat;

}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: -20px;
    background: url("../images/arrow-right.svg") 0 0 / 100% no-repeat;
    border: none;
}


/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}

.slider {
    position: relative;
}

/*TEXT on hover of slides*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.overlay_commercial{
    background-color: black;
}

.slider__item:hover .overlay {
    opacity: 0.6;
}

.slider__item:hover .overlay_commercial {
    opacity: 0.6;
}

.slider__item:hover .text {
    opacity: 1;
}


.text {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_commercial{
    color: white;
}

.metr {
    font-size: 25px;
    color: var(--button-background-color);
}


/*PORTFOLIO*/

.portfolio {
    background-color: var(--main-background);
    color: var(--text-on-dark-background);
}

.portf_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.portfolio_project_description {
    color: var(--text-on-dark-background);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.portf_description h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 35px;
}

.sub_description_portf {
    display: flex;
}

.slider-for {
    text-align: center;
}

.slider-for img {


}

/*PRICE*/
.price_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_heading {
    margin-bottom: 30px;
}

.price_text {
    color: var(--text-on-light-background);
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 1 / 3 / 3 / 5;
}

.parent_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.div6 {
    grid-area: 1 / 1 / 3 / 3;
}

.div7 {
    grid-area: 1 / 3 / 2 / 4;
}

.div8 {
    grid-area: 1 / 4 / 2 / 5;
}

.div9 {
    grid-area: 2 / 3 / 3 / 4;
}

.div10 {
    grid-area: 2 / 4 / 3 / 5;
}

.parent_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.div11 {
    grid-area: 1 / 1 / 2 / 2;
}

.div12 {
    grid-area: 1 / 2 / 2 / 3;
}

.div13 {
    grid-area: 2 / 1 / 3 / 2;
}

.div14 {
    grid-area: 2 / 2 / 3 / 3;
}

.div15 {
    grid-area: 1 / 3 / 3 / 5;
}

.parent img, .parent_2 img, .parent_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.parent img:hover, .parent_2 img:hover, .parent_3 img:hover {
    scale: 1.5;
}

.picture_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 280px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.parent_4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.parent_4 img:hover {
    scale: 1.5;
}

.parent_5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 280px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.parent_5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.parent_5 img:hover {
    scale: 1.5;
}

.bottom_portf{
    padding-bottom: 25px;
}


/*TODO поправить цвет стилей чтобы не пересекались*/

/*ОТЗЫВЫ*/
.testimonials {
    position: relative;
    background-color: var(--main-background);
}

.readMoreLink {
    /*display: block;*/
    text-decoration: none;
    color: var(--text-on-dark-background);
    /*text-align: right;*/
}

/*TODO color of text otzivy*/
.testimonial__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #768D87;
    text-align: center;
    padding: 45px 0;
    /*display: inline-block;*/
    /*padding-left: 200px;*/
}

/*.flex-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*}*/

.testimonials__items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.testimonials__item {
    padding: 0 37px;
    margin: 0;
}

.item__text {
    font-size: 15px;
    color: var(--text-on-dark-background);
    font-weight: 500;
    text-indent: 15px;
    line-height: 1.5;
    hyphens: auto;
    text-align: justify;
    margin-bottom: 15px;
}

.small {
    font-size: small;
}

.item__signature {
    padding: 10px;
    font-weight: bold;
    color: #768D87;
    text-align: right;
}

.slick-slide .testimonial-img {
    /*float: left;*/
    display: block;
    width: 3.4rem;
    border-radius: 50%;
    align-self: center;
    margin: 0 auto 15px auto;
}

/*.testimonial-text {*/
/*    font-size: 1.8rem;*/
/*    line-height: 1.8;*/
/*    margin-bottom: 1.6rem;*/
/*}*/

.price_color_main_container {
    background: var(--main-background-light);
}

.container_for_price {

    display: flex;
    gap: 20px;
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*MODAL*/
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    left:50%;
    margin-left:-225px;
    background-color: var(--main-background);
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 15px;
    color: var(--text-on-dark-background);
    font-weight: 500;
    text-indent: 15px;
    line-height: 1.5;
    hyphens: auto;
    text-align: justify;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    /*padding: 0.8rem 1.4rem;*/
    /*font-weight: 700;*/
    background-color: var(--main-background);
    color: var(--text-on-dark-background);
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}


.btn-close {
    align-self: start;
    transform: translate(30%);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

/*ФОРМА*/
.form{
    display: flex;
    flex-direction: column;

}
.flex_form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paddingforform{
    padding: 5px 0 5px 0;
}

