@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --light-txt: #ffffff;
    /*old color*/
    /*--main-background: #8a8f93;*/
    /*--main-background: #5B5B5B;*/
    /*--main-background: #A09A95;*/
    /*--main-background: #3D3D3D;*/
    --main-background: #242021;
    /*old color*/
    /*--main-background-light: #c8d1da;*/
    /*--main-background-light: #898989;*/
    /*--main-background-light: #D0C7C0;*/
    /*--main-background-light: #B8B1AB;*/
    /*--main-background-light: #6F6C69;*/
    --main-background-light: #625D5B;
    --top-navigation-items-color:#5B5B5B;
    --top-navigation-background-color: rgba(255, 255, 255, 0.8);
    --button-background-color:#54888C;
    --heading45:45px;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /*color: #f4f8ea;*/
}

.hero {
    position: relative;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
    animation: change 10s infinite none;
    transition: background 0.5s linear;
}


@keyframes change {
    0%,52%{
        background-image: url("../images/portf/main_croppped1.png");
    }
    53%,54%{
        background-image:  url("../images/portf/main_croppped1.png");
    }

    55%,99%{
        background-image: url("../images/portf/main_croppped24.jpg");
    }

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}



.section-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;

}

.header__logo {
    display: flex;
    align-items: center;
}




.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-txt);
    list-style: none;
}

.nav-list__item:not(:last-child) {
    margin-right: 76px;
}

.link__item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--top-navigation-items-color);
    text-decoration: none;
    transition: 0.7s;
}

/*.link__item:hover,*/
/*.link__item:active {*/
/*    color: wheat;*/
/*}*/

/*WELCOME SECTION*/
.header {
    height: 12%;
    background-color: var(--top-navigation-background-color);
}

.logo img {
    width: 205px;
    height: 105px;
}

.welcome {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    /*grid-column-gap: 0px;*/
    /*grid-row-gap: 0px;*/
    justify-content: space-between;
    height: 80vh;
}

.animation_container{

}


.welcome__promo_about {
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: var(--heading45);
    color: var(--light-txt);
}

.welcome__promo_phrase {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:var(--light-txt);
}
.ml11 {
    font-weight: 300;
    font-size: 45px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color:var(--light-txt);
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
    color: var(--light-txt);
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.welcome__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links__item {
    font-size: 20px;
    font-weight: 400;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--light-txt);
}

.welcome__picture {
    align-self: start;
}

.welcome__picture_img {
    padding: 10px;
    width: 150px;
    height: 150px;
}

/*HEADINGS*/
.preimushestva_zagolovok{
    color: #768D87;
}

.preimushestva_text{
    color: #6F6C69;
    font-weight: 500;
}



/*BUTTON*/
.myButton {
    margin-top: 15px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:21px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}
/*.myButton {*/
/*    box-shadow: 0 0 0 0 #0e0f0e;*/
/*    background-color: var(--button-background-color);*/
/*    border: 1px solid var(--button-background-color);*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    color:var(--light-txt);*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 21px;*/
/*    !*font-weight: bold;*!*/
/*    padding: 16px 31px;*/
/*    text-decoration: none;*/
/*    text-shadow: 0 1px 0 #54888C;*/
/*    margin: 10px;*/
/*}*/

/*!*TODO  color of hover*!*/
/*.myButton:hover {*/
/*    background-color: #afb5b8;*/
/*}*/

/*.myButton:active {*/
/*    position: relative;*/
/*    top: 1px;*/
/*}*/


/*ABOUT*/

.about, .projects {
    background-color: var(--main-background);
}

.section-heading {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-left: 20px;
    color: #242021;
}

.section-heading_preim{
    color: #768D87;
}

.about-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43vh;
}

.about-item {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.about-item h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 35px;
}

.about-item div {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/*PROJECTS*/
.project-hading {
    text-align: center;
    font-size: var(--heading45);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    color: #768D87;
}

.images__portf {
    display: flex;
    height: 450px;
    justify-content: space-around;
}

.protf__item {
    width: 300px;
}

/*PRICE*/
.price {
    background-color: var(--main-background-light);

}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
}

.price__items {
    display: flex;
    gap: 35px;

}

.tarif {
    flex-basis: 33%;
    text-align: center;

}

.tarif_with_border{
    border-radius: 50px;

    transition: 0.3s;
}

.tarif_with_border:hover{

    transform: scale(1.05);
}


.tarif_features_list {
    padding-left: 15px;
    padding: 25px;
    color: #242021;
    font-weight: 500;
    text-align: center;

}

.tarif_features_item{
    text-decoration: none;
    list-style-type: none;
}


.tarif_name {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


.list-item {
    word-break: break-word
}

.actual_price {
    font-weight: bold;
    font-size: 25px;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TODO color of lines*/

hr {
    color: #242021;
    background-color: #242021;
    border: solid 1px #242021;
}

.button__price {

}

/*ОТЗЫВЫ*/
.testimonials {
    background-color: var(--main-background);
    height: 50vh;

}

/*TODO color of text otzivy*/
.testimonial__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 10px;
    color: #768D87;
    text-align: center;
    padding-top: 60px;
    /*display: inline-block;*/
    /*padding-left: 200px;*/
}

.testimonials__items {
    display: flex;
    gap: 20px;
}

.item__text {
    padding: 25px;
    color: #6F6C69;
    font-weight: 500;
}

.item__signature {
    padding: 25px;
    font-weight: bold;
    color: #768D87;
}


/*ABOUT STUDIO*/

.about_studio {
    background-color: var(--main-background-light);
    padding: 40px 0;
}

.about_studio-items {
    display: flex;
    align-items: center;
}

.about_subitem {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.about_number {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #242021;
}

.about_subitem_text {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #242021;
    font-weight: 500;
}

.text_under_number{
    color: #242021;
    font-weight: 500;
}


/*FOOTER*/
.contacts {
    background-color: var(--main-background);
}

.footer_section_item .footer_text, .footer_text{
    color: #6F6C69;
    font-weight: 500;
}

.footer_data {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center

}

.footer_section_item {
    padding: 35px;
}

.links {
    padding: 15px;
}

.links__item {
    margin-right: 10px;
    text-decoration: none;
    color: var(--light-txt);
}

.allrights {
    padding: 15px;
}


/*SLIDER*/

/* Слайдер */
.slick-slider {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin: 0 -27px;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
    padding: 35px 0;
}

/* Слайд */
.slick-slide {
    margin: 0 27px;
    position: relative;
}

.slick-slide:hover {

}

.slick-slide img{
    object-fit: cover;
    width: 100%;
}

.slick-slide img:hover{

}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url("../images/arrow-left.svg") 0 0 / 100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url("../images/arrow-right.svg") 0 0 / 100% no-repeat;
    border: none;
    margin: -30px 0 0 0;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}

.slider {
    position: relative;
    padding: 0 60px;
}

/*TEXT on hover of slides*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.slider__item:hover .overlay {
    opacity: 0.6;
}

.slider__item:hover .text{
    opacity: 1;
}


.text {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/*PORTFOLIO*/
.portf_description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-for{
    text-align: center;
}

.slider-for img{


}

/*PRICE*/
.price_content{
display: flex;
}

.price_heading{
    margin-bottom: 30px;
}

.price_text{
    color: #242021;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 1 / 3 / 3 / 5; }

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.parent img:hover{
    scale: 1.5;
}

.picture_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*TODO поправить цвет стилей чтобы не пересекались*/